@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.nav-text{
    color: white;
    mask-image: url(../../public/gu-background.svg);
}

.front-page{
    background: rgb(2,0,36);
    background: linear-gradient(20deg, rgba(2,0,36,1) 0%, theme(colors.gu-brand.begin) 100%);    
}

.front-page-yellow{
    background: rgb(2,0,36);
    background: linear-gradient(20deg, rgba(2,0,36,1) 0%, #ffd346 100%);  
}


.brand-color-{
    background: linear-gradient(20deg, rgba(2,0,36,1) 0%, theme(colors.gu-brand.DEFAULT) 100%);  
}

